:root {
    --primary-color: #05F4B7;
    --secondary-color: #371BB1;
    --tertiary-color: #12151F;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAV BAR STYLES START */

header {
    background-color: var(--tertiary-color);
    justify-content: space-between;
    padding: 20px 35px;
    position: sticky;
    flex-wrap: wrap;
    z-index: 9999;
    display: flex;
    top: 0;
}

header h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 32px;
    color: var(--primary-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
}

header nav ul li a {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: lighter;
    padding: 10px 15px;
    font-size: 1.55vw;
}

/* HEADER / NAVBAR STYLES END */

/* FOOTER STYLES START */

footer {
    background-color: var(--tertiary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

footer h2 {
    color: var(--primary-color);
    font-size: 15px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--primary-color);
}

/* END FOOTER STYLES */

/* STYLE ALL SECTION TAGS */

section {
    padding: 60px;
}

/* HERO STYLES START */