* {
    box-sizing: border-box;
}

:root {
    --primary-color: #05F4B7;
    --secondary-color: #371BB1;
    --tertiary-color: #12151F;
}

body {
    margin: 0;
    padding: 0;
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

/* HEADER / NAV BAR STYLES START */

header {
    background-color: var(--tertiary-color);
    justify-content: space-between;
    padding: 15px 6% 15px 0;
    flex-direction: row;
    align-items: center;
    position: sticky;
    flex-wrap: wrap;
    display: flex;
    z-index: 9999;
    top: 0;
}

header h1 {
    color: var(--primary-color);
    padding: 5px 1% 5px 6%;
    font-weight: bold;
    font-size: 32px;
    line-height: 1;
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav ul {
    justify-content: space-between;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
}

nav ul li a {
    font-weight: lighter;
    padding: 5px 10px;
}

/* HEADER / NAVBAR STYLES END */

/* main content */

main {
    margin-top: 20px;
    margin-bottom: 45px;
}

/* STYLE ALL SECTION TAGS */

section {
    padding: 30px;
}

/* SECTION TITLE STYLES START */

.section-title {
    font-size: 24px;
    border-bottom: 3px solid;
    color: var(--secondary-color);
    padding-bottom: 5px;
    text-align: left;
    width: 100%;
}

/* SECTION TITLE STYLES END */

/* styles for content section*/

.content-box {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

.content-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

/* FOOTER STYLES START */

footer {
    background-color: var(--tertiary-color);
    padding: 20px 12px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

footer h2 {
    color: var(--primary-color);
    font-size: 15px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--primary-color);
}

/* END FOOTER STYLES */

/* UTILITIES */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.flex-row {
    display: flex;
}


@media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }
  
    header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
    }
  
    header nav {
      justify-content: center;
    }
  
    .page-section > h2,
    .page-section > div {
      flex: 0 0 100%;
    }
  
    .page-section > h2 {
      border-right: none;
      border-bottom: 4px solid var(--primary);
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: left;
      font-size: 7vw;
    }
  }
  
  @media screen and (max-width: 768px) {
    .flex-item,
    .flex-item:first-child {
      flex-basis: 100%;
    }
  
    .flex-item:first-child {
      min-height: 150px;
    }
  
    .hero-banner {
      justify-content: center;
      text-align: center;
    }
  
    .contact address {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  